MCP Powered WhatsApp AI Agent with Voice & Image & Tool Support/MCP Powered WhatsApp AI Agent with Voice & Image & Tool Support.json
{
  "name": "MCP Powered WhatsApp AI Agent with Voice & Image & Tool Support",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2180,
        600
      ],
      "id": "21648aa1-6f43-42e8-876e-dee7ed15ef57",
      "name": "WhatsApp Trigger",
      "webhookId": "dca7095c-a90f-42df-92fe-ad058f633722",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "j4vCNswHIuOfT91C",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant named Alex.\n\nAlways respond in a warm and helpful manner.\n\nYou are currently speaking with {{ $json.contacts[0].profile.name }}\n\n\n\nThe current date and time {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        620
      ],
      "id": "828f509d-2363-4554-9371-7ef23b3c5090",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        880
      ],
      "id": "b5dfbda0-2c01-4f14-828b-19eace9c3257",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        880
      ],
      "id": "534b77a2-abca-4c9a-b5be-c47fe7ab1937",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f461fcd-feba-4492-afcf-cc3164216ff4",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        600
      ],
      "id": "d6b9c1bf-b7bd-44f8-996e-03f91e9f4edc",
      "name": "Text Handler"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "476cdad2-d162-46f4-8fc7-894682feab01"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7de98205-acf5-492b-8e7d-323844b39f30",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d4625e38-f473-4c6b-a871-9a442a58753b",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2020,
        600
      ],
      "id": "5ce91bb8-607f-4650-ac0c-ddd4eb06f5eb",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1060,
        320
      ],
      "id": "42ffd747-bc51-4dbf-8951-ffc009bc5878",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "4071a2c9-01bb-4eda-b3bf-4d0aafa1b7f1",
      "credentials": {
        "whatsAppApi": {
          "id": "18Zo6KKBTzfp4xYS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        320
      ],
      "id": "fee656fc-f4d3-4cb9-a6ab-e22786fce14b",
      "name": "Download audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8NJp3VlNoBoLLW0l",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -620,
        320
      ],
      "id": "0a84fceb-c0e3-45a8-a172-0d1c38f637d9",
      "name": "Audio Transciption",
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f010f116-d0ca-4480-a07e-d088b4ad505f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        320
      ],
      "id": "9c677abd-1e5f-46b2-82a5-1352eaefe0d9",
      "name": "Audio Handler"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        440
      ],
      "id": "7ebbf4c1-53ba-45c4-a952-f05f777c4460",
      "name": "Generate Voice",
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n    \n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === 'audio/mp3') {\n        item.binary[propName].mimeType = 'audio/mpeg';\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        440
      ],
      "id": "50b623e7-06c6-4778-bf45-44472d1958dd",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9e3a120-8c36-45cf-8f53-a146cab3ec98",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        620
      ],
      "id": "97c82c35-0e23-4645-98a0-6be312cd40bd",
      "name": "If logic"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1020,
        860
      ],
      "id": "4ef082da-c85f-416c-a5d9-58041b41a65d",
      "name": "Get Image Link",
      "webhookId": "4f1c4925-effd-4ef8-83bf-634e9044c24c",
      "credentials": {
        "whatsAppApi": {
          "id": "18Zo6KKBTzfp4xYS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -820,
        860
      ],
      "id": "65c4d5db-32a1-4d52-bdf2-4531b116935b",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8NJp3VlNoBoLLW0l",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Please describe this image thoroughly",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -600,
        860
      ],
      "id": "553bc64a-9a79-480d-ad1d-0d0144f7ed02",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bee86fe8-0109-414f-8eab-681ee03ef9d4",
              "name": "=text",
              "value": "=* The user shared the following image and text\n\n** Image analysis\n\n{{ $json.content }}\n\n** User Request: \n\n\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"describe this image in detail\"}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        860
      ],
      "id": "646aaaf6-d8fa-4760-98d9-d0bb3f75b963",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8ndemos.app.n8n.cloud/mcp/demo/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        980,
        1040
      ],
      "id": "b62a38e0-1733-4127-b2c4-0c4180f49b58",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "content": "## MCP\n",
        "height": 300,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        880
      ],
      "id": "ca956be0-3516-406e-a85f-330fb19982e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "466179296585433",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        960,
        640
      ],
      "id": "b4ef185c-3166-45a4-af3b-dc71dc912af9",
      "name": "Respond Text",
      "webhookId": "8b6785b1-6fcd-4f48-9254-64d784025b4e",
      "credentials": {
        "whatsAppApi": {
          "id": "18Zo6KKBTzfp4xYS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "466179296585433",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1260,
        440
      ],
      "id": "92622f07-f2e6-4883-849f-e5fc4caa4a59",
      "name": "Respond Audio",
      "webhookId": "4354ce3d-8517-470c-aa39-b7f5dccc05a5",
      "credentials": {
        "whatsAppApi": {
          "id": "18Zo6KKBTzfp4xYS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        420,
        880
      ],
      "id": "1dc07433-38a9-4f13-a236-d11cacb6c872",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "VZX0oN3hRGgWYM7L",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data in Pinecone Vector Store",
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanelsdemo",
          "mode": "list",
          "cachedResultName": "solarpanelsdemo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        200,
        1060
      ],
      "id": "0bd497fd-17ad-4b19-9d19-4602fbcf9d13",
      "name": "Knowledge Base",
      "credentials": {
        "pineconeApi": {
          "id": "wemzXuYmRGJ54G1t",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        1240
      ],
      "id": "40caa29e-260e-4260-b5ab-a5a7f977aa48",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Audio",
        "height": 260,
        "width": 1180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        240
      ],
      "id": "9be7f357-743e-4e99-8780-efaf3f673f08",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image",
        "height": 220,
        "width": 1180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        820
      ],
      "id": "9f948a34-ff08-4ff6-bbe0-1ff10358e773",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text",
        "height": 180,
        "width": 1180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        560
      ],
      "id": "6527a597-a503-4604-89da-4c32b95de4e9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "demo"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        -2340,
        840
      ],
      "id": "1a49e171-79f8-41be-98c0-23af541c0811",
      "name": "MCP Server Trigger",
      "webhookId": "ed228aea-1dc5-460e-ae11-e7e999588895"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdJL5vVBoJpsXh1",
          "mode": "list",
          "cachedResultName": "To do list",
          "cachedResultUrl": "https://airtable.com/appdJL5vVBoJpsXh1"
        },
        "table": {
          "__rl": true,
          "value": "tbllNQKsjhScL18fD",
          "mode": "list",
          "cachedResultName": "To Dos",
          "cachedResultUrl": "https://airtable.com/appdJL5vVBoJpsXh1/tbllNQKsjhScL18fD"
        },
        "options": {
          "fields": [
            "Name",
            "Completed"
          ]
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -2820,
        1120
      ],
      "id": "d72a4fdd-952e-46b9-a0a0-a8721b9fd339",
      "name": "Show Todos",
      "credentials": {
        "airtableTokenApi": {
          "id": "F3iem1LA3Oyq5b5X",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appdJL5vVBoJpsXh1",
          "mode": "list",
          "cachedResultName": "To do list",
          "cachedResultUrl": "https://airtable.com/appdJL5vVBoJpsXh1"
        },
        "table": {
          "__rl": true,
          "value": "tbllNQKsjhScL18fD",
          "mode": "list",
          "cachedResultName": "To Dos",
          "cachedResultUrl": "https://airtable.com/appdJL5vVBoJpsXh1/tbllNQKsjhScL18fD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Completed": false,
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -2660,
        1120
      ],
      "id": "4900abc7-c128-4a06-aaed-499626d7b692",
      "name": "Add task",
      "credentials": {
        "airtableTokenApi": {
          "id": "F3iem1LA3Oyq5b5X",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appdJL5vVBoJpsXh1",
          "mode": "list",
          "cachedResultName": "To do list",
          "cachedResultUrl": "https://airtable.com/appdJL5vVBoJpsXh1"
        },
        "table": {
          "__rl": true,
          "value": "tbllNQKsjhScL18fD",
          "mode": "list",
          "cachedResultName": "To Dos",
          "cachedResultUrl": "https://airtable.com/appdJL5vVBoJpsXh1/tbllNQKsjhScL18fD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completed', ``, 'boolean') }}",
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', `Airtable record ID, typically formatted like “recSseD96TP0nnznW”`, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -2520,
        1120
      ],
      "id": "2870c9c8-786a-402f-af69-9a4c8c447e9c",
      "name": "Update Todo",
      "credentials": {
        "airtableTokenApi": {
          "id": "F3iem1LA3Oyq5b5X",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool for creating social media posts.",
        "workflowId": {
          "__rl": true,
          "value": "znGSOazUciPZa6vk",
          "mode": "list",
          "cachedResultName": "Posts Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1720,
        1060
      ],
      "id": "b36b88e4-0a7b-4a5b-8873-ccf079e9be8f",
      "name": "Generate Posts"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -2120,
        1260
      ],
      "id": "bcc36eb7-68cd-48f7-9d38-2a770c7275bd",
      "name": "Send Emails",
      "webhookId": "2daa8c21-afc8-4c11-8efa-01247d47ae0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "0wvaFjbbANuyUYkA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -2240,
        1260
      ],
      "id": "fce2d1a2-67b6-4506-b0ea-9246f2bc2a88",
      "name": "Get Emails",
      "webhookId": "5897cfc7-19db-4072-ae21-d4060771e6b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "0wvaFjbbANuyUYkA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -2360,
        1260
      ],
      "id": "36755404-f70e-4937-9774-910c6c071167",
      "name": "Create draft",
      "webhookId": "5dff090a-5803-4d31-b6a4-ccf7b477c1e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "0wvaFjbbANuyUYkA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rP7rhJqPzOYO11UxARnceK46ViDhK56ikejVIDCke8o",
          "mode": "list",
          "cachedResultName": "Contact database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rP7rhJqPzOYO11UxARnceK46ViDhK56ikejVIDCke8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rP7rhJqPzOYO11UxARnceK46ViDhK56ikejVIDCke8o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1980,
        1260
      ],
      "id": "0715e60e-d2cd-4701-bdf4-03342974ecd6",
      "name": "Contacts Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IsHpvw1wCzuxtxLZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Email\n",
        "height": 320,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        1160
      ],
      "id": "bd00c768-8a16-4fd1-9a53-b063d4cfd74b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ToDos\n",
        "height": 320,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2860,
        1040
      ],
      "id": "0914da39-71fc-4471-a9af-2cbfd0ec5547",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Social Media",
        "height": 320,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1820,
        940
      ],
      "id": "89ee1258-d22e-4734-a542-6719710cc77d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -840,
        1240
      ],
      "id": "21c64e1c-c905-44c2-add9-408200587582",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are  a professional content creator who writes engaging social media posts\n\nWhen a user provides a topic or idea, create a LinkedIn-style post that:\n- Opens with a strong, relatable hook or observation\n- Breaks down key points using bullet points or a numbered list\n- Maintains a clear, concise, and professional tone\n- Avoids buzzwords, clichés, and emojis\n- Ends with a thoughtful insight, takeaway, or call to conversation\n\nWrite as if you’re sharing your own experience or expertise to engage professionals and encourage discussion.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -620,
        1240
      ],
      "id": "6747820d-9fdd-4a5e-a018-dd0186332513",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -680,
        1500
      ],
      "id": "c607e591-6630-4902-9c5e-55562718d882",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Content Creator Agent",
        "height": 480,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        1160
      ],
      "id": "eb95caff-33e8-40b2-89bd-cc40146e5b42",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Handler": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Audio Transciption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Transciption": {
      "main": [
        [
          {
            "node": "Audio Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Handler": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If logic": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Link": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Show Todos": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add task": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Todo": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Posts": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Emails": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create draft": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Database": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55de2314-c9ca-42bb-a089-cbdaddb4e410",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "siqIEr79iayw0fF6",
  "tags": []
}