WhatsApp Chatbot with Long-Term Memory/WhatsApp Chatbot with Long-Term Memory.json
{
  "name": "WhatsApp Chatbot with Long-Term Memory",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        -300
      ],
      "id": "a834dabf-a886-43a4-9efa-bd741ae23809",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        300,
        -300
      ],
      "id": "1a756e3d-4d05-429e-b0d3-7003f6594c40",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to get the information regarding Beaconhouse International College",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -660,
        -57.5
      ],
      "id": "dbe7852e-b4b2-4d12-af27-9dfc00617102",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -580,
        140
      ],
      "id": "9306863c-de26-4258-a3aa-acc7a970168f",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -900,
        -60
      ],
      "id": "deb859ee-edb6-4650-a642-e1ab9a3dcb5b",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        440,
        -80
      ],
      "id": "1c7f5c66-7018-478e-b913-40fe620e3fb1",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json[\"message\"][\"chat\"][\"id\"].toString() }}\n",
        "tableName": "memory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -780,
        -60
      ],
      "id": "492205dd-729b-4557-9b29-c7f941f0aef9",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        -80
      ],
      "id": "22d64350-5eb5-44d6-ab1a-c8e9234c2549",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        -80
      ],
      "id": "b42f1b02-1aff-40b4-8e24-8258b2a3ad73",
      "name": "WhatsApp Trigger",
      "webhookId": "ab2892fe-82fc-4f69-a302-610d7a38e9a5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {
          "systemMessage": "You are Helpful Assistant, a smart and friendly AI assistant for People.\n\n\n💬 You also use a PostgreSQL memory system to keep track of past chats and maintain context over time (like a helpful WhatsApp conversation).\n\n✅ Respond in a conversational, student-friendly, and helpful tone — just like chatting with a supportive advisor.\n\n⚠️ If you're unsure or the data isn’t available in memory or Supabase, politely suggest contacting the admissions office for help."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -860,
        -280
      ],
      "id": "984df319-88a4-4b78-94df-59346cbf6e5a",
      "name": "WhatsApp Chatbot with Long-Term Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={}",
        "recipientPhoneNumber": "123",
        "textBody": "123",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -300,
        -80
      ],
      "id": "646e9cbc-9120-4444-a3b8-36643b2417f9",
      "name": "WhatsApp Business Cloud",
      "webhookId": "eda83797-671e-4113-b22c-a810e717cde1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -300
      ],
      "id": "36c21aef-ad28-430b-9e90-49dc29799490",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -140,
        -300
      ],
      "id": "fc1542be-b68c-4f18-956d-6ad51a1c7cb2",
      "name": "Download file"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "WhatsApp Chatbot with Long-Term Memory",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "WhatsApp Chatbot with Long-Term Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "WhatsApp Chatbot with Long-Term Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp Chatbot with Long-Term Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Chatbot with Long-Term Memory": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1949933f-4b21-4dab-b51a-d20b35c66493",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "yeHnJWjma96ZnKS2",
  "tags": [
    {
      "name": "TypeForm, G Sheet, Slack",
      "id": "an99QuhVP20FQeYx",
      "createdAt": "2025-07-06T13:23:07.007Z",
      "updatedAt": "2025-07-06T13:23:07.007Z"
    }
  ]
}