Resume Collector with AI Summary/Resume_Collector_with_AI_Summary.json
{
  "name": "Resume_Collector_with_AI_Summary",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        360,
        -40
      ],
      "id": "f7eecf7e-cd7c-44e2-a0e6-03010add5613",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are an HR assistant. Read the following resume text and summarize it in 3-5 sentences focusing on key skills, experience, and suitability for a technical role.\n\nResume:\n {{ $json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        580,
        -40
      ],
      "id": "8c5a95c8-464b-451f-83fc-401c3a98f5cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        180
      ],
      "id": "8faebb4d-0967-42fc-bee8-b0f34b628dc1",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const text = $('Extract from File').first().json.text;\n\n// Extract email\nconst email = text.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/)?.[0];\n\n// Extract phone number\nconst phone = text.match(/(\\+?\\d{1,4}[-.\\s]?)?\\(?\\d{3,4}\\)?[-.\\s]?\\d{3,4}[-.\\s]?\\d{3,4}/)?.[0];\n\n// Extract name (assume it's the first line or use a fallback)\nconst lines = text.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\nlet name = null;\n\n// Simple heuristic: First line, must not contain '@' or numbers\nfor (const line of lines) {\n  if (!line.includes('@') && !/\\d/.test(line)) {\n    name = line;\n    break;\n  }\n}\n\nreturn [{ name, email, phone }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        -40
      ],
      "id": "dccb7bc8-0bbe-4f8d-8f1c-001705b8e0cb",
      "name": "Code"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -40
      ],
      "id": "437454b8-4ab1-4bf8-9e92-0a2befdad130",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -40
      ],
      "id": "0080e2f8-7714-48e0-a19b-0206bd3bf9f9",
      "name": "Download file"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1160,
        -40
      ],
      "id": "a2a86175-1597-489e-8c09-e4ad5322ee7f",
      "name": "Write In Air Table"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Write In Air Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0f2b377-7692-42d2-9a75-383f64dd7290",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "yeHnJWjma96ZnKS2",
  "tags": []
}