Knowledge Base RAG Chatbot/Knowledge_Base_RAG_Chatbot.json
{
  "name": "Knowledge_Base_RAG_Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1400,
        40
      ],
      "id": "41d5b7aa-5345-4fe7-bfbf-77ece205c02e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        600
      ],
      "id": "e03bbd4f-1de1-4c29-9282-fcec2c2a5f6d",
      "name": "Telegram Trigger",
      "webhookId": "90ebcee3-7b49-4f7e-8bfd-d2c28bc4f2ef"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1020,
        600
      ],
      "id": "3ae7e849-d1ae-4875-88f4-bdafe8374139",
      "name": "Telegram",
      "webhookId": "53cd91de-b6f2-40e7-8e31-c93e406f3ae7"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1180,
        40
      ],
      "id": "0a714c64-1245-4b61-8548-baa1d269e85c",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to get the information regarding Beaconhouse International College",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1380,
        822.5
      ],
      "id": "63ce9289-1c22-4068-aed8-90e06e800289",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1300,
        1020
      ],
      "id": "be4fb1f7-c63c-4543-a055-f62e962dea51",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1620,
        820
      ],
      "id": "e0a989a5-1176-45d8-84f6-2b4fb15775b7",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1040,
        260
      ],
      "id": "b740a1e1-1e0a-4ff4-bdc0-bcc6aaee83b7",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json[\"message\"][\"chat\"][\"id\"].toString() }}\n",
        "tableName": "memory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1500,
        820
      ],
      "id": "28281cd0-fb4e-493a-939b-db7234eff240",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1160,
        260
      ],
      "id": "2ec54b19-f261-4e6a-9cc5-751faafa5980",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {
          "systemMessage": "You are Knowledgebase RAG, a smart and friendly AI assistant for people seeking admission in xyz university.\n\n🎓 Your role is to help current and prospective students by answering questions about:\n- Degree programs and courses offered\n- Admission requirements and eligibility\n- Tuition fees, payment plans, and financial aid\n- How to apply and important deadlines\n- Scholarships, campus facilities, and student life\n\n📚 You are connected to a Supabase vector store containing official college information. Use it to find and quote relevant information when answering.\n\n💬 You also use a PostgreSQL memory system to keep track of past chats and maintain context over time (like a helpful WhatsApp conversation).\n\n✅ Respond in a conversational, student-friendly, and helpful tone — just like chatting with a supportive advisor.\n\n⚠️ If you're unsure or the data isn’t available in memory or Supabase, politely suggest contacting the admissions office for help."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1580,
        600
      ],
      "id": "acdf8d25-04d4-44a3-9a8c-96f601afa806",
      "name": "Knowledge Base RAG Chat Bot"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        40
      ],
      "id": "7edec551-8cb0-4e04-91a9-f9aeb2bbd030",
      "name": "Google Drive Trigger1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1620,
        40
      ],
      "id": "b3df9c84-de3b-472a-beb9-bee2ff8d0f46",
      "name": "Download file"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Knowledge Base RAG Chat Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base RAG Chat Bot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base RAG Chat Bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base RAG Chat Bot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base RAG Chat Bot": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b146f917-f613-4f6e-bf49-a9bec513d3e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "yeHnJWjma96ZnKS2",
  "tags": []
}