Cross Platform RAG System Powered by Pinecone/Cross-Platform RAG System Powered by Pinecone.json
{
  "name": "Cross-Platform RAG System Powered by Pinecone",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Create knowledge base",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Knowledge file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "7da6692b-4305-450f-840a-cb426472d719",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1060,
        -960
      ],
      "webhookId": "aa82509b-1e5f-4216-ac01-ff57047304d4"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "1186bfea-dd34-4d62-9a11-d94c03e6a80e",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -660,
        -740
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "id": "122c48da-deb5-4c01-9c8a-e2ddc3a276ee",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -520,
        -740
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "ce205c60-d933-4e10-92ab-70dbdc8b324b",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -520,
        -580
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Knowledge_file",
        "options": {}
      },
      "id": "a938e486-c457-4c5c-adf1-aa2c46875b00",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -860,
        -960
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "7802e1f6-71f2-46ea-92c9-7163fb276d1b",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -620,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "company_knowledge_base",
        "description": "this node connect to our company knowledge base",
        "topK": 10
      },
      "id": "6d59253e-8615-47cf-82ba-e120ad87ece6",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -640,
        -200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "932a1984-c3af-441c-a3ad-1bcc5c998f3c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -460,
        -40
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "open",
          "mode": "list",
          "cachedResultName": "open"
        },
        "options": {}
      },
      "id": "2c3553e8-16f8-43df-ba07-25518e422f5f",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -740,
        -40
      ],
      "credentials": {
        "pineconeApi": {
          "id": "wemzXuYmRGJ54G1t",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "C088MPJKX2R",
          "mode": "list",
          "cachedResultName": "n8n-message"
        },
        "options": {}
      },
      "id": "83427747-e917-4fac-981a-acd887d6909a",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1860,
        -440
      ],
      "webhookId": "e9131214-3a32-4a7a-8fc1-9772a5c288e0",
      "credentials": {
        "slackApi": {
          "id": "fdAf2IyWeKc3azOe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": "=deepseek-chat",
        "options": {
          "baseURL": "https://api.deepseek.com"
        }
      },
      "id": "f1edb92f-6f3e-4971-ad17-b1147bbf90c7",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -800,
        -200
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "82f4e4ec-29f6-41df-81b6-2f37013181cf",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1700,
        -640
      ],
      "webhookId": "fb46ee53-2b0b-4263-abec-72a870c104c8",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "j4vCNswHIuOfT91C",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first().json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "91650e8a-7cf8-4212-81e7-0b20f3c73b9a",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        120,
        -640
      ],
      "webhookId": "e052891a-b620-4fe6-b379-e106fbbe6218",
      "credentials": {
        "whatsAppApi": {
          "id": "18Zo6KKBTzfp4xYS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "343847f5-e87e-441d-945a-26efdbf4c17e",
              "leftValue": "={{ $json.text }}",
              "rightValue": "@U088QMASK34",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ff66f14a-b7e9-4f2b-983e-970a32ee5783",
              "leftValue": "={{ $json.type }}",
              "rightValue": "app_mention",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c0f4323-4c7f-4a1a-b299-23c0acdcc87c",
      "name": "If is message1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1700,
        -440
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "27b62ba2-9da7-4f47-9eeb-4f8062ea9349",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1700,
        -240
      ],
      "webhookId": "2221c31f-62ba-49d7-9b33-0555b2dc4939",
      "credentials": {
        "telegramApi": {
          "id": "lZyHIa0XcFXU69kT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13c7f9b0-0dd2-4273-8015-458ceadfd0bc",
                    "leftValue": "={{ $('Channel').item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Channel').item.json.channel}}",
                    "rightValue": "slack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0530925f-e19a-4479-908e-2330effc16a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "slack"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b333793d-e787-493c-800d-ece001fb3930",
                    "leftValue": "={{ $('Channel').item.json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {}
      },
      "id": "e942f650-b45d-45e6-947b-0ff4951bbf4a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -420,
        -440
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "open",
          "mode": "list",
          "cachedResultName": "open"
        },
        "options": {}
      },
      "id": "e296ca6f-b53a-45cf-8e87-cd99f47df51e",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -660,
        -960
      ],
      "credentials": {
        "pineconeApi": {
          "id": "wemzXuYmRGJ54G1t",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "id": "39acac46-653e-42cc-bcc3-b3cdf785e055",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -800,
        -440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88fe8e52-2aa8-444e-a4fa-50c458f3ff36",
              "name": "message",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "59a991b6-e266-440e-8eaf-df68bfdba64d",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0df036a7-0903-476b-968c-560856448745",
      "name": "Whatsapp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        -640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7e70825-797f-4a88-b32c-616e484cd086",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "329151ff-c365-4bd5-a43e-328a2a6ef6bd",
              "name": "channel",
              "value": "slack",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f86bd84e-d856-4fad-939b-549f670303e5",
      "name": "Slack1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        -440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7e70825-797f-4a88-b32c-616e484cd086",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "329151ff-c365-4bd5-a43e-328a2a6ef6bd",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb302e4a-c16a-428b-ab24-7c893ad8008a",
      "name": "Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        -240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "2a45f929-c9a9-49d6-9244-8e37f3b992c6",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        120,
        -240
      ],
      "webhookId": "c8c69c26-453e-4c52-a26c-928ea36a504e",
      "credentials": {
        "telegramApi": {
          "id": "lZyHIa0XcFXU69kT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe633b89-17d3-45e2-a296-67514075607f",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "22ac00c2-bd12-41bf-bb44-53971f733ef0",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88c0fc17-be5d-4d43-95dd-681154e530b5",
      "name": "Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1100,
        -440
      ]
    },
    {
      "parameters": {
        "content": "## Handles Queries From Channels",
        "height": 760,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1900,
        -780
      ],
      "id": "7e0174c4-2cdb-449a-b5da-458c4cdf11c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Knowledge Base ",
        "height": 220,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        -1020
      ],
      "id": "893d9e6e-3788-4b65-839d-e7e3b212b2e1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').first().json.channel }}",
          "mode": "id"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {}
      },
      "id": "632906f5-3024-4a7b-abee-e04f078f6305",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        120,
        -440
      ],
      "webhookId": "7194f06a-73b6-446b-a937-10e77b6258fb",
      "credentials": {
        "slackApi": {
          "id": "fdAf2IyWeKc3azOe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Respond To Different Channel Based On the Triggers",
        "height": 760,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -740
      ],
      "id": "ebe2d811-707e-4cb0-9a78-cd5be447d8fc",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "If is message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If is message1": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack1": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04dcc3b5-5d80-4d71-b90d-a3cf35227bf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "siqIEr79iayw0fF6",
  "tags": []
}