Smart HR Agent using MCP/Smart_HR_Agent_using_MCP.json
{
  "name": "Smart_HR_Agent_using_MCP",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1240,
        140
      ],
      "id": "6a80834c-04a6-4107-8c7d-b816d5026b23",
      "name": "Telegram Trigger",
      "webhookId": "0e6bebf4-ba86-45bf-ae63-af368a141681"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}\n{{ $json.chat_id }}\n{{ $json.username }}",
        "options": {
          "systemMessage": "=You are a smart HR assistant. Interpret the following message and return a JSON with action and any details, Always be precise in dates:\n\nMessage: \"{{ $json.input }}\"\n\nRespond like this example:\n{\n  \"action\": \"apply_leave\" or \"check_balance\" or \"update_info\" or if none of them use \"unknown\",\n  \"start_date\": \"2024-07-10\",\n  \"end_date\": \"2024-07-12\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -800,
        140
      ],
      "id": "88065645-e729-4060-b7c9-2de8097f6127",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  input: $input.first().json.message.text,\n  chat_id: $input.first().json.message.chat.id,\n  username : $input.first().json.message.from.first_name + $input.first().json.message.chat.last_name\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        140
      ],
      "id": "fd3def43-4c32-43f5-ab96-4feca26a2548",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -780,
        360
      ],
      "id": "f0f37a73-a0c0-4603-8edb-0a51bbcac22c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -660,
        360
      ],
      "id": "d360f4b5-2429-49dc-bb00-eb7d0f6e7aee",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ed01e19-1917-4d5a-b0fc-0018cdf95269",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "apply_leave",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Apply Leave"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4503a34-61fd-4566-8435-506358f8adfa",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "check_balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Check Balance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "86e7dbc0-893d-4193-b532-580accf546e7",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Information"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f73ebc7-3e28-4c02-a221-bce291625228",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        120
      ],
      "id": "94552d97-beac-4351-b1b5-e1167b169d13",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hi Please rewrite your message clearly.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        440
      ],
      "id": "7b521162-7d61-48b2-828c-e10c4ae03bae",
      "name": "Telegram",
      "webhookId": "39412e25-047b-47a3-b488-23eb5192a3e7"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.first().json.output);\n\nreturn [{\n  json: {\n    ...parsed,\n    chat_id: $('Code').first().json.chat_id,   // Preserve any other data you need\n    username: $('Code').first().json.username\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        140
      ],
      "id": "37d3dcea-ecf9-44a9-a36b-a90358651a2f",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        -160
      ],
      "id": "1b96b907-a86a-42f3-9e76-fcaa4a736f15",
      "name": "Apply Leave"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        40
      ],
      "id": "fcaa546b-f451-4b23-a2a6-224626ebc554",
      "name": "Google Sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        240
      ],
      "id": "bc3349c4-c9e1-4f3c-88a7-84972e677d62",
      "name": "Update Info"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Apply Leave",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfcb24a1-b6ee-41e5-af00-19e097ce2e74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "yeHnJWjma96ZnKS2",
  "tags": []
}