RAG Agent for College Info Bot/RAG_Agent_for_College_Info_Bot.json
{
  "name": "RAG_Agent_for_College_Info_Bot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -940,
        -240
      ],
      "id": "bdff1be1-b7d1-4eb6-970e-422bc659970a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        -240
      ],
      "id": "174484ad-bbe0-4254-88da-9fe6e2f8bc47",
      "name": "Telegram Trigger",
      "webhookId": "90ebcee3-7b49-4f7e-8bfd-d2c28bc4f2ef"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1700,
        -240
      ],
      "id": "22d46a4f-acb5-4966-99b8-7128abf31eb3",
      "name": "Telegram",
      "webhookId": "53cd91de-b6f2-40e7-8e31-c93e406f3ae7"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -720,
        -240
      ],
      "id": "df43f519-417b-4870-bce5-5813d487509c",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to get the information regarding Beaconhouse International College",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1940,
        -20
      ],
      "id": "d8f07b3b-987f-4c2e-b301-d20f4355d3d9",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1860,
        180
      ],
      "id": "7fdc9794-a0ea-4069-9592-c4df34c09d99",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2180,
        -20
      ],
      "id": "2ddea558-998a-4fb7-8d3c-e6ea067b15c6",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -580,
        -20
      ],
      "id": "a2d6ade5-509a-439c-aef0-0514ce962302",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json[\"message\"][\"chat\"][\"id\"].toString() }}\n",
        "tableName": "memory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2060,
        -20
      ],
      "id": "67723f02-81ee-46e6-8d3a-6c4c86fdb5b7",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -700,
        -20
      ],
      "id": "0fb33a1f-3620-4762-894b-f94d55dd1e49",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {
          "systemMessage": "You are College Buddy, a smart and friendly AI assistant for xyz  College.\n\n🎓 Your role is to help current and prospective students by answering questions about:\n- Degree programs and courses offered\n- Admission requirements and eligibility\n- Tuition fees, payment plans, and financial aid\n- How to apply and important deadlines\n- Scholarships, campus facilities, and student life\n\n📚 You are connected to a Supabase vector store containing official college information. Use it to find and quote relevant information when answering.\n\n💬 You also use a PostgreSQL memory system to keep track of past chats and maintain context over time (like a helpful WhatsApp conversation).\n\n✅ Respond in a conversational, student-friendly, and helpful tone — just like chatting with a supportive advisor.\n\n⚠️ If you're unsure or the data isn’t available in memory or Supabase, politely suggest contacting the admissions office for help."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2140,
        -240
      ],
      "id": "34905ebc-3859-41e5-bb30-6ac96ef91818",
      "name": "College Info Bot"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1160,
        -240
      ],
      "id": "48d09707-083f-4559-9abf-fa30e6f5cf61",
      "name": "Download file"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1380,
        -240
      ],
      "id": "1eba0683-6abd-490a-87fb-5fea0d866812",
      "name": "Google Drive Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "College Info Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "College Info Bot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "College Info Bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "College Info Bot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "College Info Bot": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "103a6461-7845-4460-9294-1985c116434c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "yeHnJWjma96ZnKS2",
  "tags": []
}